* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
}

#form {
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: justify;
    background-color: #fff7e0;
}

.label {
    width: 45%;
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
}

input {
    width: 100%;
    height: 30px;
} 

.btn-submit {
    width: 100%;
    height: 30px;
    margin-top: 15px;
}

.red-border {
    border: 1px solid red;
}